{% extends 'base/base.html' %}

{% block page_content %}
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header">
      <div class="row"> 
        <div class="col-lg-2">Listado de Categorías </div>

        <a href="{% url 'inv:categoria_new' %}" class="btn btn-g text-primary"><i class='fa fa-cart-plus' style='color: blue'></i> Agregar</a>

      </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
      {% if not obj %}
      <div class="alert alert-info">
        No hay categorías
      </div>
      {% else %}
        <table id="table"
          data-toggle="table"
          data-pagination="true"
          data-search="true"
          data-show-columns="true"
          data-show-toggle="true"
          data-show-fullscreen="true"
          data-toolbar=".buttons-toolbar"
          data-locale="es-NI">
          <thead>
              <th>Id</th>
              <th>Descripción</th>
              <th>Estado</th>
              <th>F. Creado</th>
              <th>F. Modif.</th>
              <th class="all">Acciones</th>
          </thead>
          <tbody>
              {% for item in obj %}
              <tr>
                  <td>{{ item.id }}</td>
                  <td>{{ item.descripcion }}</td>
                  <td>{{ item.estado|yesno:"Activo,Inactivo" }}</td>
                  <td>{{ item.fc|date:"d/m/Y H:i:s" }}</td>
                  <td>{{ item.fm|date:"d/m/Y H:i:s" }}</td>
                  <td>
                    <a href="{% url 'inv:categoria_edit' item.id %}" class="btn btn-g text-warning" data-toggle="tooltip" data-placement="top" title="Editar" ><i class="fas fa-edit"></i></a> 
                    <a href="{% url 'inv:categoria_del' item.id %}"  class="btn btn-g text-danger" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="fas fa-trash-alt"></i></a>
                  </td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
</div>
{% endblock %}

{% block js_page %}
<script>
{% comment %}   // Call the dataTables jQuery plugin
  $(document).ready(function() {
    $('.table').DataTable();
  }); {% endcomment %}
</script>
{% endblock %}