{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listado de Compras</title>
    <link rel="stylesheet" href="{% static 'base/css/recibo.css' %}">
    <style type="text/css">
        @page {
            width: 220mm; 
            size: auto;   
            margin: 0mm;
            }
    </style>
</head>
<body >

        {% for item in enc %}
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.cliente }}</td>
          <td>{{ item.fecha|date }}</td>
          <td>{{ item.fecha_entrega }}</td>
          <td>{{ item.repartidor }}</td>
          <td>{{ item.total }}</td>
        </tr>
        <br>
        {% endfor %}
        <div class="col-xs-1"></div>
        <div class="col-xs-11">
            <div class="pull-right">
            <table class="table-responsive dt-responsive nowrap">
                <thead>
                    <th colspan=2>Totales</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Sub Total:</td> <td align='right'>{{enc.sub_total}}</td>
                    </tr>
                    <tr>
                        <td>Iva:</td> <td align='right'>{{enc.descuento}}</td>
                    </tr>
                    <tr>
                        <td>Total:</td> <td align='right'><b>{{enc.total}}</b></td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
        <div class="row">
        <small class="pie">
            <br><br>
            <center>
                Creada por:  {{enc.uc}} - Fecha:  {{enc.fc}}
                <br>
                <i>&copy; &reg; <b>Osvaldo Villalobos C.</b><br> - Osvicor@hotmail.com</i> 
            </center>
        </small>
        </div>
    </div>
</body>
</html>